<header class=" ">
  <div class="header-inner">
    <button type="button" class="header-nav-button">Menu</button>
    
    <div class="header-title-wrapper">
      <a href="/" class="site-title">Daniel N Knapp.</a>
      <div class="header-subtitle-wrapper font-small">
        <span class="header-subtitle">Art Director & Interactive Designer</span>
        <span class="header-city">Philadelphia, PA</span>
      </div>
    </div>
    {# ----- Navigation ----- #}
    {% include "partials/_navigation.njk" %}
    {# ----- End Navigation ----- #}
  </div>
</header>