<!-- layout.njk -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Daniel Knapp - {{ pageTitleSet }}</title>
    <link rel="stylesheet" href="https://use.typekit.net/ysz7dnr.css">
    <link rel="stylesheet" href="assets/css/main.css">

    <script src="assets/js/libs.min.js" defer></script>
    <script src="assets/js/main.min.js" defer></script>
  </head>
  <body>
    <!-- You write code for this content block in another file -->
    {% include "partials/_header.njk" %}

    <main id="swup">
      {% block content %} {% endblock %}
    </main>
    {% include "partials/_footer.njk" %}



    <!-- Load scripts -->

      
     
  </body>
</html>