<!-- layout.njk -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Daniel Knapp - {{ pageTitleSet }}</title>
    <link rel="stylesheet" href="https://use.typekit.net/ysz7dnr.css">
    <link rel="stylesheet" href="assets/css/main.css">
  </head>
  <body>
    <!-- You write code for this content block in another file -->
    {% include "partials/_header.njk" %}

    <main>
      {% block content %} {% endblock %}
    </main>
    {% include "partials/_footer.njk" %}




    <!-- Load scripts -->

      <!-- build:js assets/js/libs.min.js -->
        <script src="assets/jsdev/tweenmax.min.js"></script>
        <script src="assets/jsdev/scrolltoplugin.min.js"></script>
      <!-- endbuild -->
    
      <!--build:js assets/js/main.min.js -->
        <script src="assets/jsdev/custom-scripts.js"></script>
        <script src="assets/jsdev/animation.js"></script>
        <script src="assets/js/main.min.js"></script>
        {# <script type="module" src="assets/jsdev/barba-transitions.js"></script> #}
      <!-- endbuild --> 
     
    <!--<script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="js/main.js"></script>-->
  </body>
</html>