{% macro cardProject(category, title, url) %}
  {% if category == "project" %}
    <h2><a href="{{ url }}">{{ title }}</a></h2>
  {% endif %}
{% endmacro %}

{% macro cardTags(tag) %}
  <li>{{ tag }}</li>
{% endmacro %}