/* Variables */

// Fonts
$font-main: Helvetica, Arial, sans-serif;
$font-secondary: Helvetica, Arial, sans-serif;

// Font
$font-base: 16px;

// <hr> color
$hr-color: #ccc;

// Text selection background color
$selection-color: #b3d4fc;

// Text Color
$main-color: #222;