/* Variables */

// Fonts
$font-primary: agenda, Helvetica, Arial, sans-serif;
$font-secondary: bookmania, Georgia, Times, Times New Roman, serif; ;

// Font
$font-base: 16px;

// <hr> color
$hr-color: #ccc;

// Text selection background color
$selection-color: #b3d4fc;

// Text Color
$color-main: #222;
$color-alto: rgba(245, 245, 245, 1);
$color-alabaster: #f5f5f5;
$color-roman: rgba(224, 92, 92, 1);


$breakpoints: (
  'small'     : 320px,
  // 'med'       : 640px,
  'med'       : 768px,
  'large'     : 920px,
  'wide'      : 1200px,
  'mega'      : 1500px
  );